In [1]:
import sklearn
from pathlib import Path
import shutil

# %% Configurações de dataset
DATASET_NAME = 'iris'
RANDOM_STATE = 1

# %% Carregamento
X, y = sklearn.datasets.load_iris(return_X_y=True, as_frame=True)

# %% Split
X_train, X_test, y_train, y_test = sklearn.model_selection.train_test_split(
    X, y, random_state=RANDOM_STATE, stratify=y
)

# %% Diretórios temporários
TMP_ROOT = Path('../results/tmp') / DATASET_NAME
if TMP_ROOT.exists():
    shutil.rmtree(TMP_ROOT)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((112, 4), (38, 4), (112,), (38,))

In [2]:
from tpot import TPOTClassifier
from tpot import objectives
import time

def run_tpot(early_stop=20, max_time_mins=float('inf'), warm_start=False, search_space="linear"):
    scorer = sklearn.metrics.get_scorer('f1_weighted')

    tpot = TPOTClassifier(
        search_space=search_space,
        scorers=[scorer, objectives.complexity_scorer],
        scorers_weights=[1.0, -1.0],
        cv = 10,
        memory= str(TMP_ROOT / 'memory'),
        preprocessing= True,
        max_time_mins=max_time_mins,
        n_jobs=1,
        validation_strategy='split',
        early_stop=early_stop,
        warm_start=warm_start,
        periodic_checkpoint_folder= str(TMP_ROOT / 'checkpoints'),
        verbose=4,
        random_state=RANDOM_STATE,
    )
    start = time.time()
    tpot.fit(X_train, y_train)
    return tpot, time.time() - start

In [3]:
import os
import sys
from datetime import datetime
from sklearn.base import clone

sys.path.insert(0, os.path.abspath(os.path.join('..', 'src')))

from metrics import evaluate_metrics
from serialize import serialize_tpot

def build_document(tpot, elapsed):
    """
    Gera um dicionário com métricas dos melhores modelos encontrados pelo TPOT.
    Mantém:
      - 'pareto_complexity': métricas do menor 'complexity_scorer' (desempate por maior 'f1_score')
      - 'pareto_f1': métricas do maior 'f1_score' (desempate por menor 'complexity_scorer')
      - 'best_model': métricas do tpot.fitted_pipeline_ 
    """

    best_model = tpot.fitted_pipeline_
    model = serialize_tpot(best_model)
    metrics = evaluate_metrics(best_model, X_test, y_test)
    metrics['complexity_scorer'] = objectives.complexity_scorer(best_model, X_test, y_test)
    model['metrics'] = metrics
    
    # Estrutura base do resultado
    result = {
        'pareto_complexity': None,
        'pareto_f1': None,
        'best_model': model,
        'date': datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
        'dataset': DATASET_NAME,
        'elapsed': elapsed,
    }
    
    # Verifica se existe Pareto front válido
    df = tpot.pareto_front
    if df is None or len(df) == 0:
        return result
    
    # Filtrar linhas válidas
    df_valid = df[
        df["Eval Error"].isna() &
        df["complexity_scorer"].notna() &
        df["f1_score"].notna() &
        df["Instance"].notna()
    ]
    
    if df_valid.empty:
        return result
    
    # Selecionar e treinar modelo de menor complexidade
    best_complexity = df_valid.sort_values(["complexity_scorer", "f1_score"], ascending=[True, False]).iloc[0]
    model = clone(best_complexity["Instance"])
    model.fit(X_train, y_train)
    result['pareto_complexity'] = evaluate_metrics(model, X_test, y_test)
    result['pareto_complexity']['complexity_scorer'] = int(best_complexity["complexity_scorer"])
    
    # Selecionar e treinar modelo de maior F1
    best_f1 = df_valid.sort_values(["f1_score", "complexity_scorer"], ascending=[False, True]).iloc[0]
    model = clone(best_f1["Instance"])
    model.fit(X_train, y_train)
    result['pareto_f1'] = evaluate_metrics(model, X_test, y_test)
    result['pareto_f1']['complexity_scorer'] = int(best_f1["complexity_scorer"])
    
    return result

In [4]:
tpot, elapsed = run_tpot(early_stop=5, max_time_mins=5, warm_start=False, search_space="linear")

Generation: : 0it [00:00, ?it/s]

Generation:  1
Best f1_score score: 0.9771428571428572
Best complexity_scorer score: 7.0

Generation: : 1it [01:02, 62.95s/it]

Generation:  2
Best f1_score score: 0.9885714285714287
Best complexity_scorer score: 6.0

Generation: : 2it [02:04, 61.84s/it]

Generation:  3
Best f1_score score: 0.9885714285714287
Best complexity_scorer score: 6.0

Generation: : 3it [03:15, 66.11s/it]

Generation:  4
Best f1_score score: 0.9885714285714287
Best complexity_scorer score: 6.0

Generation: : 4it [04:34, 71.28s/it]

Generation:  5
Best f1_score score: 0.9885714285714287
Best complexity_scorer score: 6.0

Generation: : 5it [05:18, 63.68s/it]
2025-08-06 00:32:18,368 - distributed.scheduler - ERROR - Removing worker 'tcp://127.0.0.1:58684' caused the cluster to lose scattered data, which can't be recovered: {'Series-625f7f9c3951c6a7bcb963cf53499061', 'Series-323756ed51b9541f5cb01dda1f245c43', 'DataFrame-b88fb2d327ee88d0537059a39137bdbd', 'DataFrame-03506e3c5b1cc0d4fb95e9e1024920d5'} (stimulus_id='handle-worker-cleanup-1754451138.3670158')

In [5]:
document = build_document(tpot, elapsed)
import pprint

pp = pprint.PrettyPrinter(indent=4)
pp.pprint(document)

{   'best_model': {   'metrics': {   'accuracy': 1.0,
                                     'balanced_f1': 1.0,
                                     'complexity_scorer': 8,
                                     'confusion_matrix': [   [1.0, 0.0, 0.0],
                                                             [0.0, 1.0, 0.0],
                                                             [0.0, 0.0, 1.0]],
                                     'precision': 1.0,
                                     'recall': 1.0},
                      'model': 'gASV5iMAAAAAAACMEHNrbGVhcm4ucGlwZWxpbmWUjAhQaXBlbGluZZSTlCmBlH2UKIwFc3RlcHOUXZQojApwaXBlbGluZS0xlGgCKYGUfZQoaAVdlIwOaW1wdXRlX251bWVyaWOUjBx0cG90LmJ1aWx0aW5fbW9kdWxlcy5pbXB1dGVylIwTQ29sdW1uU2ltcGxlSW1wdXRlcpSTlCmBlH2UKIwHY29sdW1uc5SMA2FsbJSMDm1pc3NpbmdfdmFsdWVzlEd/+AAAAAAAAIwIc3RyYXRlZ3mUjARtZWFulIwKZmlsbF92YWx1ZZROjARjb3B5lIiMDWFkZF9pbmRpY2F0b3KUiYwTa2VlcF9lbXB0eV9mZWF0dXJlc5SJjAhjb2x1bW5zX5SMGHBhbmRhcy5jb3JlLmluZGV4ZXMuYmFzZZSMCl9uZXdfSW5kZXiUk5RoG4wFSW5kZXiUk5R9lCiMBGRhdGGUjBZudW1weS5fY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLBIWUaCWMBWR0eXBllJOUjAJPOJSJiIeUUpQoSwOMAXyUTk5OSv////9K/////0s/dJRiiV2UKIwRc2VwYWwgbGVuZ3RoIChjbSmUjBBzZXBhbCB3aWR0aCAoY20plIwRcGV0YWwgbGVuZ3RoIChjbSmUjBBwZXRhbCB3aWR0aCAoY20plGV0lGKMBG5hbWWUTnWGlFKUjAdpbXB1dGVylIwUc2tsZWFybi5pbXB1dGUuX2Jhc2WUjA1TaW1wbGVJbXB1dGVylJOUKYGUfZQoaBNHf/gAAAAAAABoGIloGYloFGgVaBZOaBeIjBZfc2tsZWFybl9vdXRwdXRfY29uZmlnlH2UjAl0cmFuc2Zvcm2UjAZwYW5kYXOUc4wRZmVhdHVyZV9uYW1lc19pbl+UaCRoJ0sAhZRoKYeUUpQoSwFLBIWUaDGJXZQoaDVoNmg3aDhldJRijA5uX2ZlYXR1cmVzX2luX5RLBIwKX2ZpdF9kdHlwZZRoLowCZjiUiYiHlFKUKEsDjAE8lE5OTkr/////Sv////9LAHSUYowKaW5kaWNhdG9yX5ROjAtzdGF0aXN0aWNzX5RoJGgnSwCFlGgph5RSlChLAUsEhZRoUolDIPfkWgqGYxdAiQ9JFXeFCEAgJ2yU1ucNQDAce3ItBfM/lHSUYowQX3NrbGVhcm5fdmVyc2lvbpSMBTEuNy4xlHVidWKGlGGMD3RyYW5zZm9ybV9pbnB1dJROjAZtZW1vcnmUTowHdmVyYm9zZZSJaF1oXnVihpSMCnBpcGVsaW5lLTKUaAIpgZR9lChoBV2UKIwKbm9ybWFsaXplcpSMG3NrbGVhcm4ucHJlcHJvY2Vzc2luZy5fZGF0YZSMCk5vcm1hbGl6ZXKUk5QpgZR9lCiMBG5vcm2UaCKMBnNjYWxhcpSTlGgujAJVMpSJiIeUUpQoSwNoU05OTksISwRLCHSUYkMIbAAAADEAAACUhpRSlGgXiIwRZmVhdHVyZV9uYW1lc19pbl+UaCRoJ0sAhZRoKYeUUpQoSwFLBIWUaC6MAk84lImIh5RSlChLA2gyTk5OSv////9K/////0s/dJRiiV2UKIwRc2VwYWwgbGVuZ3RoIChjbSmUjBBzZXBhbCB3aWR0aCAoY20plIwRcGV0YWwgbGVuZ3RoIChjbSmUjBBwZXRhbCB3aWR0aCAoY20plGV0lGKMDm5fZmVhdHVyZXNfaW5flEsEaF1oXnVihpSMEHNlbGVjdHBlcmNlbnRpbGWUjC9za2xlYXJuLmZlYXR1cmVfc2VsZWN0aW9uLl91bml2YXJpYXRlX3NlbGVjdGlvbpSMEFNlbGVjdFBlcmNlbnRpbGWUk5QpgZR9lCiMCnNjb3JlX2Z1bmOUaIqMCWZfY2xhc3NpZpSTlIwKcGVyY2VudGlsZZRHQFa3NvP8t/KMDm5fZmVhdHVyZXNfaW5flEsEjAdzY29yZXNflGgkaCdLAIWUaCmHlFKUKEsBSwSFlGgujAJmOJSJiIeUUpQoSwNoU05OTkr/////Sv////9LAHSUYolDIAUwxKSxv3dAmSp03QAJi0BOhY5oPb2UQHi2MebBHoNAlHSUYowIcHZhbHVlc1+UaCRoJ0sAhZRoKYeUUpQoSwFLBIWUaJuJQyCH0DLMKhoSN39G3MuedRs0ZsmHW+UegzIT3IVny7lgNZR0lGJoXWhedWKGlIwOZmVhdHVyZXVuaW9uLTGUaACMDEZlYXR1cmVVbmlvbpSTlCmBlH2UKIwQdHJhbnNmb3JtZXJfbGlzdJRdlCiMD3NraXB0cmFuc2Zvcm1lcpSMIHRwb3QuYnVpbHRpbl9tb2R1bGVzLnBhc3N0aHJvdWdolIwPU2tpcFRyYW5zZm9ybWVylJOUKYGUfZRihpSMC3Bhc3N0aHJvdWdolGivjAtQYXNzdGhyb3VnaJSTlCmBlH2UYoaUZYwGbl9qb2JzlE6ME3RyYW5zZm9ybWVyX3dlaWdodHOUTmhiiYwZdmVyYm9zZV9mZWF0dXJlX25hbWVzX291dJSIaF1oXnVihpSMDmZlYXR1cmV1bmlvbi0ylGipKYGUfZQoaKxdlCiMD3NraXB0cmFuc2Zvcm1lcpRosSmBlH2UYoaUjAtwYXNzdGhyb3VnaJRotymBlH2UYoaUZWi7Tmi8TmhiiWi9iGhdaF51YoaUjBRrbmVpZ2hib3JzY2xhc3NpZmllcpSMIXNrbGVhcm4ubmVpZ2hib3JzLl9jbGFzc2lmaWNhdGlvbpSMFEtOZWlnaGJvcnNDbGFzc2lmaWVylJOUKYGUfZQojAtuX25laWdoYm9yc5RLAowGcmFkaXVzlE6MCWFsZ29yaXRobZSMBGF1dG+UjAlsZWFmX3NpemWUSx6MBm1ldHJpY5SMCW1pbmtvd3NraZSMDW1ldHJpY19wYXJhbXOUTowBcJRLA2i7SwGMB3dlaWdodHOUaHBoLowCVTiUiYiHlFKUKEsDaFNOTk5LIEsESwh0lGJDIGQAAABpAAAAcwAAAHQAAABhAAAAbgAAAGMAAABlAAAAlIaUUpRoTksDjAtvdXRwdXRzXzJkX5SJjAhjbGFzc2VzX5RoJGgnSwCFlGgph5RSlChLAUsDhZRoLowCaTiUiYiHlFKUKEsDaFNOTk5K/////0r/////SwB0lGKJQxgAAAAAAAAAAAEAAAAAAAAAAgAAAAAAAACUdJRijAJfeZRoJGgnSwCFlGgph5RSlChLAUtZhZRo64lCyAIAAAIAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAIAAAAAAAAAAgAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAACAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAIAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAEAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAIAAAAAAAAAAgAAAAAAAAABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAgAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAgAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAQAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAAAAAAAAAAACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAIAAAAAAAAAAQAAAAAAAAACAAAAAAAAAAEAAAAAAAAAAAAAAAAAAACUdJRijBhlZmZlY3RpdmVfbWV0cmljX3BhcmFtc1+UfZQoaNpLA4wBd5ROdYwRZWZmZWN0aXZlX21ldHJpY1+UaNiMC19maXRfbWV0aG9klIwHa2RfdHJlZZSMBl9maXRfWJRoJGgnSwCFlGgph5RSlChLAUtZSwOGlGgujAJmOJSJiIeUUpQoSwNoU05OTkr/////Sv////9LAHSUYolCWAgAAIbmc/3xMsg/ms/1x8tg1D+AQ/O5/ni5P9KkSZMmTco/kyZNmjRp0j/SpEmTJk26P2NqYO+YGsg/sHdMDewd0z8KcVZ+Qpy1P2C5pxGWe8o/ck8jLPc00j97GmG5pxG2P3l4eHh4eMg/09LS0tLS0j+XlpaWlpa2P7dt27Zt29Y/3LZt27Ztuz+TJEmSJEmSP+zOZLR45cM/arA7k9Hi1T/kVMAv3Nq7P8zBzX4hVtQ/zMHNfiFWxD/AECtK4yOTP1cQkyuIydU/R31no76zwT9XEJMriMmVPw+afNmgydc/Enj7IYG3vz95+yGBtx+SP9dQXkN5DcU/G8prKK+h1D81lNdQXkO5P+YUvJyCl9M/OgUvp+DlxD86BS+n4OWUP1Xgi6sfdNQ/lMg0bDfLwz8W+OLqBx2VPwJnXIsENcU/AmdciwQ11T+DmgrRhs+/P15DeQ3lNdQ/zy1x6vfcwj+yAmGkHSugP1AmrnRvQMk/rnRvQJm40j+pRchfs6O2P3vd6173usc/SD/60Y9+1D/jGc94xjO+P8BfxQkpecY/hmnugr+K0z/8VZyQkme5P9V3Nuo7G9U/U9/ZqO9sxD9YEJMriMmVP/aA2QNmD8g/+DPhz4Q/0z9ckHFBxgW5P2tXonYlasc/hPMxOB+D0z+K2pWoXYm6P2EYhmEYhtE/9DzP8zzPwz+SJEmSJEmiP27UdzbqO8s/Ta4gJlcQ0z9YEJMriMm1P8VUYioxlcg/oK5P16fr0z++8F54L7y3P1HtOZm+Ssg/gNy6vAOO1D/oZPoqYWy2PxqkQRqkQco/Yid2Yid20j/YiZ3YiZ24P5y1WZu1Wcs/kQZpkAZp0D8ZgREYgRG4PwrXo3A9Ctc/61G4HoXrwT97FK5H4XqEP5mK55rVYcQ/mYrnmtVh1D8ROUG4G/u+PyyBTfvJEtg/1hmpmFudwT+gLIFN+8mCPwAAAAAAAMg/AAAAAAAA0z8BAAAAAAC2P+QjE+idutY/wRArSuMjwz/BECtK4yOTP6kn47dLPck/50CiFTYH0j/57VJPxm+3PxU7sRM7scM/N1dzNVdz1T+cq7maq7m6PxdogRZogcY/lVEZlVEZ1T8alVEZlVG5PxhXP+iowMc/dFTgi6sf1D/RUYEvrn7AP2NyBTG5gtg/btR3Nuo7uz9YEJMriMmVP4dki2jOGsQ/M6Z8HZZw1D8jmrMGxdO+P0kvf9pCA8Y/baEBS3r50z9hlKl4rlm9PxUVFRUVFcU/FRUVFRUV1T+RkJCQkJDAP1dVVVVVVdU/AQAAAAAAwD9XVVVVVVWVP7a+DRiq6cg/Pmx9GzBU0z9SkPx5lcW5P2ppaWlpack/WlpaWlpa0j+XlpaWlpa2P1gQkyuIydU/Ta4gJlcQwz9YEJMriMmVPwnGW9nnkMo/PebvtRHr0j8CoeRO0cK5P9BeQnsJ7dU/cRzHcRzHwT9oL6G9hPaSP7dt27Zt28Y/Pc/zPM/z1D/btm3btm27P9u2bdu2bcs/4iu+4iu+0j9YfMVXfMW3P5eWlpaWltY/kpGRkZGRwT8VFBQUFBSUP1VVVVVVVdU/IPuxH/uxvz8UOIETOIGTP5ByU9E8ocY/CFJuKpon1D9X+nO240PAP9LU+bWHXMY/NXV+7SGX1T8gclkxUMK7P2QEE/2drMY/Lm+MYKK/0z+5HoXrUbi+P2QhC1nIQsY/OL3pTW960z9kIQtZyEK2Px8y3KtglsQ/FDuxEzux0z9GF1100UW3Py666KKLLso/6KKLLrro0j8mm2yyySa7P+h5nud5nsc/Pc/zPM/z1D/btm3btm27P5GFLGQhC8k/OL3pTW960z+CuXZgrh24P5eWlpaWltY/kZCQkJCQwD8YGBgYGBiIPxqGYRiGYcg/3LZt27Zt0z+g53me53m+P/JcszqMMsU/oQFLevnT1j+hAUt6+dO2P6PfbB36zcY/UCMs9zTC0j9wtg79ZuvAP2he/ImEU8o/TK4gJlcQ0z9e/ImEU5q3Pxb44uoHHdU/Fvji6gcdxT8W+OLqBx2VP9oYmu5gv9U/4hNIJedlwT+D/VYbQ9OdP+MjE+idutY/tF+IFaXxwT8fmUDv1LWcP9FFF1100cU/F1100UUX1T9GF1100UW3PxeGYRiGYcg/sizLsizL0j8URVEURVG0PyQO3rdGVsc/Zzs+BCk31T+AMYmD963BPwAAAAAAAMo/AAAAAACA0T8AAAAAAAC0P0X1oJF3/sY/PH+L05rt0z9cnNZsn6i+P8VO7MRO7NQ/FDuxEzuxwz8UO7ETO7GjP0yWv2T5S8Y/DtXtUN0O1T9hHxf2cWG/P1dzNVdzNcc/tEALtEAL1D9SGZVRGZXBPxZf8RVf8cU/yLnPLiA21T+qNOTcZxfAP2oe5K6fLdY/G1Fg0ql5wD/3RhSYdGqePwFLevnTFso/QLgb+x6R0z9hlKl4rlm9P8vBzX4hVtQ/s1+IFaXxwT+/ECtK4yOjP2UlK1nJSsY/QhGKUIQi1D8UoQhFKELBPxdogRZogdY/kyRJkiRJwj8XaIEWaIGWPxAREREREcE/VmqlVmql1j8c4zEe4zG+P1L5MO7XJdU/L6l8GPfrwj+rwXMEiraaP5PzsohPINU/s4hPIJWcxz8DqeS8LOKTP17Lwc1+IdY/tF+IFaXxwT/AECtK4yOTP6EBS3r508Y/xXPN6jDK1D9SpuK5ZnW4P14Fs6QcEMk/mrbG380j1D9GF1100UW3P6hMOwdrlsg/5AJeb6M/1D8NJ3VfHlvBP7W+DRiq6cg/oZqOuUR40j/gSUHy51W2P1IaH5lA79Q/wBArSuMjwz8fmUDv1LWsP5R0lGKMDm5fc2FtcGxlc19maXRflEtZjAVfdHJlZZSMGnNrbGVhcm4ubmVpZ2hib3JzLl9rZF90cmVllIwGbmV3T2JqlJOUagkBAACMBktEVHJlZZSTlIWUUpQoaCRoJ0sAhZRoKYeUUpQoSwFLWUsDhpRoUolCWAgAAIbmc/3xMsg/ms/1x8tg1D+AQ/O5/ni5P9KkSZMmTco/kyZNmjRp0j/SpEmTJk26P2NqYO+YGsg/sHdMDewd0z8KcVZ+Qpy1P2C5pxGWe8o/ck8jLPc00j97GmG5pxG2P3l4eHh4eMg/09LS0tLS0j+XlpaWlpa2P7dt27Zt29Y/3LZt27Ztuz+TJEmSJEmSP+zOZLR45cM/arA7k9Hi1T/kVMAv3Nq7P8zBzX4hVtQ/zMHNfiFWxD/AECtK4yOTP1cQkyuIydU/R31no76zwT9XEJMriMmVPw+afNmgydc/Enj7IYG3vz95+yGBtx+SP9dQXkN5DcU/G8prKK+h1D81lNdQXkO5P+YUvJyCl9M/OgUvp+DlxD86BS+n4OWUP1Xgi6sfdNQ/lMg0bDfLwz8W+OLqBx2VPwJnXIsENcU/AmdciwQ11T+DmgrRhs+/P15DeQ3lNdQ/zy1x6vfcwj+yAmGkHSugP1AmrnRvQMk/rnRvQJm40j+pRchfs6O2P3vd6173usc/SD/60Y9+1D/jGc94xjO+P8BfxQkpecY/hmnugr+K0z/8VZyQkme5P9V3Nuo7G9U/U9/ZqO9sxD9YEJMriMmVP/aA2QNmD8g/+DPhz4Q/0z9ckHFBxgW5P2tXonYlasc/hPMxOB+D0z+K2pWoXYm6P2EYhmEYhtE/9DzP8zzPwz+SJEmSJEmiP27UdzbqO8s/Ta4gJlcQ0z9YEJMriMm1P8VUYioxlcg/oK5P16fr0z++8F54L7y3P1HtOZm+Ssg/gNy6vAOO1D/oZPoqYWy2PxqkQRqkQco/Yid2Yid20j/YiZ3YiZ24P5y1WZu1Wcs/kQZpkAZp0D8ZgREYgRG4PwrXo3A9Ctc/61G4HoXrwT97FK5H4XqEP5mK55rVYcQ/mYrnmtVh1D8ROUG4G/u+PyyBTfvJEtg/1hmpmFudwT+gLIFN+8mCPwAAAAAAAMg/AAAAAAAA0z8BAAAAAAC2P+QjE+idutY/wRArSuMjwz/BECtK4yOTP6kn47dLPck/50CiFTYH0j/57VJPxm+3PxU7sRM7scM/N1dzNVdz1T+cq7maq7m6PxdogRZogcY/lVEZlVEZ1T8alVEZlVG5PxhXP+iowMc/dFTgi6sf1D/RUYEvrn7AP2NyBTG5gtg/btR3Nuo7uz9YEJMriMmVP4dki2jOGsQ/M6Z8HZZw1D8jmrMGxdO+P0kvf9pCA8Y/baEBS3r50z9hlKl4rlm9PxUVFRUVFcU/FRUVFRUV1T+RkJCQkJDAP1dVVVVVVdU/AQAAAAAAwD9XVVVVVVWVP7a+DRiq6cg/Pmx9GzBU0z9SkPx5lcW5P2ppaWlpack/WlpaWlpa0j+XlpaWlpa2P1gQkyuIydU/Ta4gJlcQwz9YEJMriMmVPwnGW9nnkMo/PebvtRHr0j8CoeRO0cK5P9BeQnsJ7dU/cRzHcRzHwT9oL6G9hPaSP7dt27Zt28Y/Pc/zPM/z1D/btm3btm27P9u2bdu2bcs/4iu+4iu+0j9YfMVXfMW3P5eWlpaWltY/kpGRkZGRwT8VFBQUFBSUP1VVVVVVVdU/IPuxH/uxvz8UOIETOIGTP5ByU9E8ocY/CFJuKpon1D9X+nO240PAP9LU+bWHXMY/NXV+7SGX1T8gclkxUMK7P2QEE/2drMY/Lm+MYKK/0z+5HoXrUbi+P2QhC1nIQsY/OL3pTW960z9kIQtZyEK2Px8y3KtglsQ/FDuxEzux0z9GF1100UW3Py666KKLLso/6KKLLrro0j8mm2yyySa7P+h5nud5nsc/Pc/zPM/z1D/btm3btm27P5GFLGQhC8k/OL3pTW960z+CuXZgrh24P5eWlpaWltY/kZCQkJCQwD8YGBgYGBiIPxqGYRiGYcg/3LZt27Zt0z+g53me53m+P/JcszqMMsU/oQFLevnT1j+hAUt6+dO2P6PfbB36zcY/UCMs9zTC0j9wtg79ZuvAP2he/ImEU8o/TK4gJlcQ0z9e/ImEU5q3Pxb44uoHHdU/Fvji6gcdxT8W+OLqBx2VP9oYmu5gv9U/4hNIJedlwT+D/VYbQ9OdP+MjE+idutY/tF+IFaXxwT8fmUDv1LWcP9FFF1100cU/F1100UUX1T9GF1100UW3PxeGYRiGYcg/sizLsizL0j8URVEURVG0PyQO3rdGVsc/Zzs+BCk31T+AMYmD963BPwAAAAAAAMo/AAAAAACA0T8AAAAAAAC0P0X1oJF3/sY/PH+L05rt0z9cnNZsn6i+P8VO7MRO7NQ/FDuxEzuxwz8UO7ETO7GjP0yWv2T5S8Y/DtXtUN0O1T9hHxf2cWG/P1dzNVdzNcc/tEALtEAL1D9SGZVRGZXBPxZf8RVf8cU/yLnPLiA21T+qNOTcZxfAP2oe5K6fLdY/G1Fg0ql5wD/3RhSYdGqePwFLevnTFso/QLgb+x6R0z9hlKl4rlm9P8vBzX4hVtQ/s1+IFaXxwT+/ECtK4yOjP2UlK1nJSsY/QhGKUIQi1D8UoQhFKELBPxdogRZogdY/kyRJkiRJwj8XaIEWaIGWPxAREREREcE/VmqlVmql1j8c4zEe4zG+P1L5MO7XJdU/L6l8GPfrwj+rwXMEiraaP5PzsohPINU/s4hPIJWcxz8DqeS8LOKTP17Lwc1+IdY/tF+IFaXxwT/AECtK4yOTP6EBS3r508Y/xXPN6jDK1D9SpuK5ZnW4P14Fs6QcEMk/mrbG380j1D9GF1100UW3P6hMOwdrlsg/5AJeb6M/1D8NJ3VfHlvBP7W+DRiq6cg/oZqOuUR40j/gSUHy51W2P1IaH5lA79Q/wBArSuMjwz8fmUDv1LWsP5R0lGJoJGgnSwCFlGgph5RSlChLAUtZhZRo64lCyAIAAAsAAAAAAAAAAQAAAAAAAABXAAAAAAAAAAMAAAAAAAAABAAAAAAAAAAFAAAAAAAAAFMAAAAAAAAABwAAAAAAAAAIAAAAAAAAAAkAAAAAAAAAUgAAAAAAAABYAAAAAAAAAAwAAAAAAAAAUQAAAAAAAAAOAAAAAAAAAA8AAAAAAAAATwAAAAAAAABLAAAAAAAAABIAAAAAAAAARwAAAAAAAABFAAAAAAAAABUAAAAAAAAAQwAAAAAAAABNAAAAAAAAAEEAAAAAAAAAGQAAAAAAAAAaAAAAAAAAABsAAAAAAAAAQAAAAAAAAAAdAAAAAAAAAD8AAAAAAAAAHwAAAAAAAAAgAAAAAAAAADcAAAAAAAAAPQAAAAAAAAA6AAAAAAAAACQAAAAAAAAAMQAAAAAAAAAwAAAAAAAAAC8AAAAAAAAAKAAAAAAAAAAtAAAAAAAAACoAAAAAAAAAKwAAAAAAAAAsAAAAAAAAACkAAAAAAAAALgAAAAAAAAAnAAAAAAAAACYAAAAAAAAAJQAAAAAAAAAyAAAAAAAAADMAAAAAAAAANAAAAAAAAAA1AAAAAAAAADYAAAAAAAAAIQAAAAAAAAA4AAAAAAAAADkAAAAAAAAAIwAAAAAAAAA7AAAAAAAAADwAAAAAAAAAIgAAAAAAAAA+AAAAAAAAAB4AAAAAAAAAHAAAAAAAAAAYAAAAAAAAABcAAAAAAAAAAAAAAAAAAABEAAAAAAAAABQAAAAAAAAARgAAAAAAAAATAAAAAAAAAEgAAAAAAAAASQAAAAAAAABKAAAAAAAAABEAAAAAAAAATAAAAAAAAAAWAAAAAAAAAE4AAAAAAAAAEAAAAAAAAABQAAAAAAAAAA0AAAAAAAAACgAAAAAAAAAGAAAAAAAAAFQAAAAAAAAAVQAAAAAAAABWAAAAAAAAAAIAAAAAAAAAQgAAAAAAAACUdJRiaCRoJ0sAhZRoKYeUUpQoSwFLA4WUaC6MA1YzMpSJiIeUUpQoSwNoMk4ojAlpZHhfc3RhcnSUjAdpZHhfZW5klIwHaXNfbGVhZpSMBnJhZGl1c5R0lH2UKGojAQAAaOtLAIaUaiQBAABo60sIhpRqJQEAAGjrSxCGlGomAQAAaFJLGIaUdUsgSwFLEHSUYolDYAAAAAAAAAAAWQAAAAAAAAAAAAAAAAAAAOhiJ8CTm8Q/AAAAAAAAAAAsAAAAAAAAAAEAAAAAAAAAs+FYAkOGwD8sAAAAAAAAAFkAAAAAAAAAAQAAAAAAAABY8poq55GoP5R0lGJoJGgnSwCFlGgph5RSlChLAUsCSwNLA4eUaFKJQ5AQERERERHBP27UdzbqO7s/oCyBTfvJgj+j32wd+s3GP27UdzbqO7s/oCyBTfvJgj8QERERERHBPz3m77UR69I/CnFWfkKctT9jcgUxuYLYP6EBS3r509Y/gDGJg/etwT9jcgUxuYLYP+iiiy666NI/cLYO/WbrwD9u1Hc26jvLP6EBS3r509Y/gDGJg/etwT+UdJRiSx5LAksDSwBLAEsASwCMHXNrbGVhcm4ubWV0cmljcy5fZGlzdF9tZXRyaWNzlGoKAQAAk5RqNgEAAIwTTWlua293c2tpRGlzdGFuY2U2NJSTlIWUUpRHQAgAAAAAAABoJGgnSwCFlGgph5RSlChLAUsAhZRoUolDAJR0lGJoJGgnSwCFlGgph5RSlChLAUsBSwGGlGhSiUMIAAAAAAAAAACUdJRih5RiTnSUYmhdaF51YoaUZWhgTmhhjBouLlxyZXN1bHRzXHRtcFxpcmlzXG1lbW9yeZRoYoloXWhedWKGlGVoYE5oYU5oYoloXWhedWIu'},
    'dataset': 'iris',
    'date': '2025-08-06 00:32:19',
    'elapsed': 325.1057360172272,
    'pareto_complexity': {   'accuracy': 0.9473684210526315,
                             'balanced_f1': 0.9473684210526315,
                             'complexity_scorer': 6,
                             'confusion_matrix': [   [1.0, 0.0, 0.0],
                                                     [   0.0,
                                                         0.9230769230769231,
                                                         0.07692307692307693],
                                                     [   0.0,
                                                         0.07692307692307693,
                                                         0.9230769230769231]],
                             'precision': 0.9473684210526315,
                             'recall': 0.9473684210526315},
    'pareto_f1': {   'accuracy': 1.0,
                     'balanced_f1': 1.0,
                     'complexity_scorer': 7,
                     'confusion_matrix': [   [1.0, 0.0, 0.0],
                                             [0.0, 1.0, 0.0],
                                             [0.0, 0.0, 1.0]],
                     'precision': 1.0,
                     'recall': 1.0}}

In [6]:
df = tpot.evaluated_individuals
df = df.sort_values('f1_score', ascending=False)
df = df[['f1_score', 'complexity_scorer', 'Generation', 'Pareto_Front', 'validation_f1_score', 'validation_complexity_scorer']]
df

,f1_score,complexity_scorer,Generation,Pareto_Front,validation_f1_score,validation_complexity_scorer
61,0.988571,80.0,1.0,NaN,0.824534,80.0
54,0.988571,10115.0,1.0,NaN,NaN,NaN
245,0.988571,80.0,4.0,NaN,NaN,NaN
198,0.988571,80.0,3.0,NaN,NaN,NaN
190,0.988571,9631.0,3.0,NaN,NaN,NaN
...,...,...,...,...,...,...
230,NaN,NaN,4.0,NaN,NaN,NaN
231,NaN,NaN,4.0,NaN,NaN,NaN
232,NaN,NaN,4.0,NaN,NaN,NaN
233,NaN,NaN,4.0,NaN,NaN,NaN
234,NaN,NaN,4.0,NaN,NaN,NaN

In [7]:
pareto = tpot.pareto_front
pareto = pareto[['f1_score', 'complexity_scorer', 'Generation', 'Pareto_Front', 'validation_f1_score', 'validation_complexity_scorer']]
pareto

,f1_score,complexity_scorer,Generation,Pareto_Front,validation_f1_score,validation_complexity_scorer
90,0.965714,6.0,1.0,1.0,0.869565,6.0
171,0.977778,7.0,3.0,1.0,0.956128,7.0

In [8]:
from tpot.objectives import complexity_scorer
from sklearn.metrics import get_scorer

# supondo que 'scorer' é seu scorer de F1 original:
f1_scorer = get_scorer('f1_weighted')
pipeline = tpot.fitted_pipeline_

f1_value   = f1_scorer(pipeline, X_test, y_test)       # milissegundos
complexity = complexity_scorer(pipeline)             # igualmente rápido

print(f"F1 = {f1_value:.4f}, Complexity = {complexity}")

F1 = 1.0000, Complexity = 8

In [9]:
#achar dentro do df o elemento que tem esses dados
df = tpot.evaluated_individuals
df = df[df['complexity_scorer'] == complexity]
df

,f1_score,complexity_scorer,Parents,Variation_Function,Individual,Generation,Submitted Timestamp,Completed Timestamp,Eval Error,Pareto_Front,Instance,validation_f1_score,validation_complexity_scorer,validation_start_times,validation_end_times,validation_eval_errors,Validation_Pareto_Front
93,0.977143,8.0,"(8, 8)",ind_mutate,<tpot.search_spaces.pipelines.sequential.Seque...,1.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (MaxAbsScaler(), Sel...",NaN,NaN,NaN,NaN,NaN,None
109,0.977143,8.0,"(93, 93)",ind_mutate,<tpot.search_spaces.pipelines.sequential.Seque...,2.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (MaxAbsScaler(), Sel...",NaN,NaN,NaN,NaN,NaN,None
132,0.965714,8.0,"(93, 93)",ind_mutate,<tpot.search_spaces.pipelines.sequential.Seque...,2.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (MaxAbsScaler(), RFE...",NaN,NaN,NaN,NaN,NaN,None
138,0.977143,8.0,"(93, 93)",ind_mutate,<tpot.search_spaces.pipelines.sequential.Seque...,2.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (MaxAbsScaler(), Sel...",NaN,NaN,NaN,NaN,NaN,None
164,0.977143,8.0,"(109, 77)",ind_crossover,<tpot.search_spaces.pipelines.sequential.Seque...,3.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (Passthrough(), Sele...",NaN,NaN,NaN,NaN,NaN,None
181,0.927024,8.0,"(138, 138)",ind_mutate,<tpot.search_spaces.pipelines.sequential.Seque...,3.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (StandardScaler(), S...",NaN,NaN,NaN,NaN,NaN,None
183,0.920635,8.0,"(140, 109)","ind_mutate , ind_mutate , ind_crossover",<tpot.search_spaces.pipelines.sequential.Seque...,3.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (MaxAbsScaler(), RFE...",NaN,NaN,NaN,NaN,NaN,None
248,0.966349,8.0,"(171, 171)",ind_mutate,<tpot.search_spaces.pipelines.sequential.Seque...,4.0,1.754451e+09,1.754451e+09,None,NaN,"((ColumnSimpleImputer()), (Normalizer(norm=np....",NaN,NaN,NaN,NaN,NaN,None